/* stylesheet Solution Module 2*/
/* base styles mobile first */
*
{
	margin:0;
	padding: 0;
}

html
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	background-color: rgb(248,248,248);

}

body
{
	box-sizing: border-box;
	padding: 7.5px;
	min-width: 152px;
}
section
{
	float: left;
}

h1
{
	text-align: center;
	padding: 15px;
}
section>div
{
	border:1px solid black;
	margin: 7.5px;
}
section>div>div
{
	position: relative;
	width: 100%;
	height: 2em;
}
section>div>div>h2
{
	position:absolute;
	top:-1px;
	right:-1px;
	border: 1px solid black;
	width: 5em;
	text-align: center;
}

p
{
	padding: 10px;
}

.section1
{
	background-color: #ffff99;
}
.section1 div h2
{
	background-color: #ff8000;
}
.section2
{
	background-color: #ff9999;
}
.section2 div h2
{
	background-color: #ff0000;
}
.section3
{
	background-color: #99ff99;
}
.section3 div h2
{
	background-color: #00ff00;
}

@media(max-width: 767px)
{
	[class*="col-"] {
	  width: 100%;
	}
}
/*medium devices 768-991 
use 12 column grid modell
*/
@media(min-width: 768px) and (max-width: 991px)
{
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}
@media(min-width: 992px)
{
	.col-l-1 {width: 8.33%;}
	.col-l-2 {width: 16.66%;}
	.col-l-3 {width: 25%;}
	.col-l-4 {width: 33.33%;}
	.col-l-5 {width: 41.66%;}
	.col-l-6 {width: 50%;}
	.col-l-7 {width: 58.33%;}
	.col-l-8 {width: 66.66%;}
	.col-l-9 {width: 75%;}
	.col-l-10 {width: 83.33%;}
	.col-l-11 {width: 91.66%;}
	.col-l-12 {width: 100%;}
}